<p id="notice"><%= notice %></p>
<div style="margin-left: 50px;">
<h1><%= @sport.name %></h1><br>


  <p><strong>Athletes:</strong><br></p>
  <% @sport.athletes.each do |athlete| %>
  <p><%= link_to athlete.name, athlete_path(athlete) %></p>
  <%end%>
