<h1 style="margin-top: 35px; margin-left: 50px; margin-bottom: 20px;">Edit Profile</h1>

<%= render 'form', athlete: @athlete %>

<div style="margin-top: 30px; margin-left: 50px; margin-bottom: 50px;">
  <%= link_to 'Back', @athlete %>
</div>