<h1 style="margin-top: 50px; margin-left: 50px; margin-bottom: 30px;">Create Athlete Account</h1>

<%= render 'form', athlete: @athlete %>

<div style="margin-top: 30px; margin-left: 50px;">
<%= link_to 'Back', '/sessions/new' %>
</div>