<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Athlete-Coach Homepage</title>
    </head>
    <body id="page-top">
    <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <br><br><br>
                    <!-- <img src="app/assets/images/sport-img.jpg" alt="sport-img" style="width:100%;"> -->
                    <h3 class="mx-auto my-0 text-uppercase">If you are a Couch</h3>
                        <a href="/app/views/coaches/signup.html.erb" class="btn btn-info btn-sm active" role="button" aria-pressed="true">COACH SIGN-UP</a>
                        <a href="/app/views/coaches/login.html.erb" class="btn btn-info btn-sm active" role="button" aria-pressed="true">COACH LOG-IN</a>
                    <br><br>
                    <h3 class="mx-auto my-0 text-uppercase">If you are an Athlete</h3>
                        <a href="/app/views/athlete/signup.html.erb" class="btn btn-info btn-sm active" role="button" aria-pressed="true">COACH SIGN-UP</a>
                        <a href="/app/views/athlete/login.html.erb" class="btn btn-info btn-sm active" role="button" aria-pressed="true">COACH LOG-IN</a>
                </div>
            </div>
    </header>
    </body>
</html>